ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__DefaultConnection=Server=your_sql_server;Database=your_database;User Id=your_user;Password=your_password;TrustServerCertificate=True;
BukApiSettings__Url_API=https://your-buk-api-url
BukApiSettings__Token=your-buk-token
AsistenciaApiSettings__Url_API=https://your-asistencia-api-url
AsistenciaApiSettings__Token=your-asistencia-token